* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #E5E9EA;
}

.main {
    display: inline-block;
    margin: 64px 0 0 162px;
    width: 426px;
    height: 504px;
    border: none;
    border-radius: 20px;
    background: rgb(65, 154, 245);
    background: linear-gradient(212deg, rgba(65, 154, 245, 1) 40%, rgba(128, 199, 253, 1) 80%)
}

#side {
    /* display: inline-block; */
    position: relative;
    top: -315px;
    left: 800px;
    width: 50px;
    font-size: 70px;
    color:darkorange;
}
.main h1{
    padding: 30px 0 0 160px;
    font-family: sans-serif;
    color: white;
}
.main input{
    margin: 15px 0 0 48px;
    padding: 15px 125px 13px 10px;
    font-size: 15px;
}
.login{
    margin: 40px 80px 0 80px;
    padding: 15px 0 15px 55px;
    background: darkorange;
    border: none;
    font-size: 20px;
}
button{
    margin: 70px 0 0 170px;
    padding: 15px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
}